@import url("https://fonts.googleapis.com/css2?family=San+Francisco:wght@400;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
}

:root {
  --primary-color: #000;
  --primary-background-color: #fff;
  --secondary-color: #2fa3ea;
  --secondary-background-color: #fff;
}

.dark-mode {
  --primary-color: #fff;
  --primary-background-color: #000;
  --secondary-color: #2fa3ea;
  --secondary-background-color: #000;
}

.color-blue {
  color: var(--secondary-color) !important;
}

.background-blue {
  background-color: var(--secondary-color) !important;
  color: #fff !important;
}

.v-btn {
  text-transform: capitalize;
}

/* Default font sizes */
h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

/* Responsive font sizes for mobile */
@media (max-width: 768px) {
  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.75rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  h4 {
    font-size: 1.25rem;
  }

  h5 {
    font-size: 1rem;
  }
}

/* Global box shadow equal to elevation 10 */
@mixin custom-elevation-10 {
  box-shadow: 0px 6px 16px rgba(0, 0, 0, 0.2), 0px 1px 10px rgba(0, 0, 0, 0.14),
    0px 3px 5px rgba(0, 0, 0, 0.12);
}

/* Homepage Content One Start */
.content_one_container {
  .mySwiper {
    swiper-slide {
      .v-img {
        width: 100%;
        height: 200px;
      }
    }
  }
}
/* Homepage Content One End */

/* Alert System start */
.alert-system {
  position: fixed;
  right: 0;
  top: 15%;
  width: 40%;
  height: auto;
  padding: 0;
  z-index: 1300;

  .alert {
    background-color: var(--secondary-color);
    color: #fff;
  }

  .btn-close {
    color: #fff;
  }
}

/* Alert System end */

/* Content Page Setup start */
.page-setup {
  width: 100%;
  height: auto;
  padding: 60px 0px;
}
@media (max-width: 768px) {
  .page-setup {
    padding: 20px 0px;

    .page-2 {
      margin: 20px 0px;
    }
  }
}
/* Content page Setup End */

/* Navbar start */
.navbar-start {
  .custom-navbar {
    // position: fixed;
    // top: 0;
    // z-index: 1100;
    // margin: auto;
    // width: 95%;
    // border-radius: 40px;

    // backdrop-filter: saturate(200%) blur(30px);
    // -webkit-backdrop-filter: saturate(200%) blur(30px);
    // background-color: hsla(0, 0%, 100%, 0.8);
    @include custom-elevation-10;

    // .nav-item {
    //   border: 4px solid transparent;
    //   border-bottom-color: red;
    //   margin: auto 4px;
    // }

    // @media (min-width: 992px) {
    //   .nav-item-custom {
    //     position: relative;
    //     margin-right: 6px;
    //     overflow: hidden;

    //     &::before {
    //       content: "";
    //       position: absolute;
    //       bottom: 0;
    //       left: 0;
    //       width: 100%;
    //       height: 3px;
    //       background-color: #4cabe7;
    //       border-radius: 0 0 2px 2px;
    //       transform: translateX(-200px);
    //       transition: all 0.4s ease-in-out;
    //     }

    //     &:hover {
    //       &::before {
    //         transform: translateX(0);
    //       }
    //     }
    //   }
    // }
  }
}
/* Navbar end */

/* login Page Start */
.login-page {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .container {
    display: flex;
    padding: 0;
    align-items: center;
    height: auto;
    /* Adjust as needed */
    background-color: #fff;

    /* Add padding to the sides */
    border-radius: 8px;
    @include custom-elevation-10;
    overflow: hidden;
    max-width: 1200px;
    width: 100%;
  }

  .right-column {
    flex: 1;
    width: 50%;
    /* Adjust based on your design */
    box-sizing: border-box;
    padding: 10px;
  }

  .left-column {
    flex: 1;
    width: 50%;
    /* Adjust based on your design */
    padding: 0;

    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;

    img {
      width: 100%;
      object-fit: cover;
    }
  }

  /* Responsive image styles */
  .responsive-image {
    max-width: 100%;
    height: auto;
  }

  /* Media query mobile view for login-page and login-at-home*/
  @media (max-width: 768px) {
    .container {
      width: 100%;
      display: block;
      /* Stack columns on top of each other */
      height: auto;
      margin: 0px 10px;
      padding: 0px 10px;
    }

    .left-column,
    .right-column {
      width: 100%;
      /* Full width on mobile */
    }

    .left-column {
      display: none;
      /* Hide right column on mobile */
    }
  }
}
/* Login page End */

/* Main login page start */
.main-login-page {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  .container {
    background-color: #fff;
    //border-radius: 30px;
    @include custom-elevation-10();
    border-radius: 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    position: relative;
    overflow: hidden;
    width: 768px;
    max-width: 100%;
    min-height: 480px;

    p {
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 0.3px;
      margin: 20px 0;
    }

    span {
      font-size: 12px;
    }

    a {
      color: #333;
      font-size: 13px;
      text-decoration: none;
      margin: 15px 0 10px;
    }

    button {
      //background-color: #512da8;
      background-color: var(--secondary-color);
      color: #fff;
      font-size: 12px;
      padding: 10px 45px;
      border: 1px solid transparent;
      border-radius: 8px;
      font-weight: 600;
      letter-spacing: 0.5px;
      text-transform: uppercase;
      margin-top: 10px;
      cursor: pointer;
    }
    button.hidden {
      background-color: transparent;
      border-color: #fff;
    }

    .form-container {
      position: absolute;
      top: 0;
      height: 100%;
      transition: all 0.5s ease-in-out;
      display: flex;
      justify-content: center;
      align-items: center;

      form {
        background-color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        padding: 0 40px;
        // height: 100%;

        input,
        .custom-field {
          border: none;

          width: 100%;
        }
      }
    }
  }

  .sign-in {
    left: 0;
    width: 50%;
    z-index: 2;
  }

  .container.active .sign-in {
    transform: translateX(100%);
  }

  .sign-up {
    left: 0;
    width: 50%;
    opacity: 0;
    z-index: 1;
  }

  .container.active .sign-up {
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
    animation: move 0.5s;
  }

  @keyframes move {
    0%,
    49.99% {
      opacity: 0;
      z-index: 1;
    }
    50%,
    100% {
      opacity: 1;
      z-index: 5;
    }
  }

  /*
  .social-icons {
    margin: 20px 0;
  }
  
  .social-icons a {
    border: 1px solid #ccc;
    border-radius: 20%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 3px;
    width: 40px;
    height: 40px;
  }
  */

  .toggle-container {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: all 0.5s ease-in-out;
    //border-radius: 150px 0 0 100px;
    z-index: 1000;

    .toggle {
      background-color: #512da8;
      height: 100%;
      background: linear-gradient(to right, #5c6bc0, var(--secondary-color));
      color: #fff;
      position: relative;
      left: -100%;
      height: 100%;
      width: 200%;
      transform: translateX(0);
      transition: all 0.5s ease-in-out;

      .toggle-panel {
        position: absolute;
        width: 50%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 0 30px;
        text-align: center;
        top: 0;
        transform: translateX(0);
        transition: all 0.5s ease-in-out;
      }
    }
  }

  .container.active .toggle-container {
    transform: translateX(-100%);
    //border-radius: 0 150px 100px 0;
  }

  .container.active .toggle {
    transform: translateX(50%);
  }

  .toggle-left {
    transform: translateX(-200%);
  }

  .container.active .toggle-left {
    transform: translateX(0);
  }

  .toggle-right {
    right: 0;
    transform: translateX(0);
  }

  .container.active .toggle-right {
    transform: translateX(200%);
  }
}
/* Main login page end */

/* Footer Start */
.footer {
  background-color: #f8f9fa;
  padding: 10px 0;
  border-top: 1px solid #e7e7e7;
  width: 100%;
  position: fixed;
  bottom: 0;

  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;

    .footer-nav a {
      margin: 0 10px;
      color: #333;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

/* Footer End */
